PORT=""
PEXELS_API_KEY=''
OPENAI_API_KEY=''
JWT_SECRET=''
ACESS_SECRET=''
REFRESH_SECRET=''
AWS_ACOUNT_ENDPOINT=''
AWS_SECRET_ACCESS_KEY=''
AWS_ACCESS_KEY=''
BUCKET_NAME=''
PUBLIC_ACCESS_KEY=''

DATABASE_URL=""

FRONTEND_URL=""
MAIL_USER=""
BREVO_API=""
NODE_ENV=""